body{font-size:12px; line-height:1.5em; _position:relative;background-image: url(../images/blue-background.jpg);background-repeat: repeat-x;background-position: top;}
html, body, div{margin:0; padding: 0;border: 0; font-size: 100%;}
/*头部*/
.header{width:100%;}
.header .inner{width:1100px; margin:0 auto;position: relative;}
/* main-navigation */
.main-navigation {
    text-align: center;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    margin-bottom: 25px;
    border-bottom: 2px solid #e1e1e1;
}
.main-navigation .menu {
    padding: 0;
    margin: 0;
}
.main-navigation .menu li {
    list-style: none;
    display: inline-block;
    position: relative;
}
.main-navigation .menu li.nav-current {
    border-bottom: 2px solid #e67e22;
    margin-bottom: -2px;
}
/*改变行高*/
.main-navigation .menu li a {
    color: #505050;
    line-height: 2.5em;
    display: block;
    padding: 0 21px;
}
.main-navigation .menu li:hover > a {
    color: #e67e22;
    text-decoration: none;
}
.main-navigation .menu li ul {
    visibility: hidden;
    background: #ffffff;
    text-align: left;
    padding: 7px 0px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 120%;
    width: 200px;
    z-index: 999;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.main-navigation .menu li ul li {
    display: block;
    margin: 0;
}
.main-navigation .menu li ul li a {
    line-height: 2.5em;
    color: #505050;
}
.main-navigation .menu li ul:hover > a {
    color: #e67e22;
}
.main-navigation .menu li:hover ul {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 100%;
}
@media (max-width: 767px) {
    .main-navigation {
        text-align: left;
    }
    .main-navigation .menu li {
        display: block;
    }
    .main-navigation .menu li:hover > a {
        color: #e67e22;
        text-decoration: none;
    }
    .main-navigation .menu li ul {
        visibility: visible;
        padding: 0px 0px 0px 20px;
        margin: 0;
        position: relative;
        top: 0;
        width: 100%;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
/*轮播*/
body,div,ul,li,a,img{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}

.wrapper{position: relative;margin:auto;width: 100%;height: 280px;margin-left: 20px;}
.banner{width: 100%;height: 280px;overflow: hidden;}
.imgList{width:100%;height:280px;z-index: 10;}
.imgList li{display: none;}
.imgList .imgOn{display: inline;}
.bg{position: absolute;bottom: 0;width: 100%;height: 40px;z-index:20;opacity: 0.4;filter:alpha(opacity=40);background: black;}
.infoList{position: absolute;left: 10px;bottom: 10px;z-index: 30;}
.infoList li{display: none;}
.infoList .infoOn{display: inline;color: white;}
.indexList{position: absolute;right: 10px;bottom: 5px;z-index: 30;}
.indexList li{float: left;margin-right: 5px;padding: 2px 4px;color: rgba(240, 247, 252, 1);cursor: pointer;}
.indexList .indexOn{background: #e67e22;font-weight: bold;color: white;}

/*轮播侧栏*/
.rightBorder {
    border-right: 1px solid #eaeaea;
}
.homePageIconDiv a{
    text-decoration:none;
    color: #000;}
.homePageIcon {
    border: 5px solid #e67e22;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: auto;
}
.homePageIcon > img {
    margin-left: 31px;
    margin-top: 31px;
    width: 68px;
}
/*主体*/
body,table,input,textarea,select,button {font-family:Microsoft YaHei,"微软雅黑", Arial, Helvetica, sans-serif;}
.pos01{
    margin-left: 20px;
}
.cols01 H3{
    padding:0px 0px 12px 5px;
    margin:16px 15px 5px 15px;
    color:#006600;
    font-size:15px;
    font-weight:bold;
    background:url(../images/line.gif) repeat-x bottom;
}
.cols02 H3{
    padding:0px 0px 12px 5px;
    margin:16px 15px 5px 15px;
    color:#006600;
    font-size:15px;
    font-weight:bold;
    background:url(../images/line.gif) repeat-x bottom;
}
.newsdown{
    color:#999999;
}
.blocktitle{
    padding:0px 15px 0px 0px;
    margin:0px 5px 0px 0px;
    background:url(../images/title-spe.jpg) right no-repeat;
    cursor:pointer;
}
.cols01 UL {
    margin: 0px;
    padding: 10px 15px 18px 20px;
}

.index-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 235px;
    display: block;
}
.newstime {
    color: #999999;
    padding: 0px 5px 0px 10px;
    float: right;
}
.cols01{
    width:33%;
    margin:5px 5px 0px 0px;
    float:left;
}
.cols02{
    width:33%;
    margin:5px 0px 0px 0px;
    float:left;
}
.channel_shadow{
    padding:0px 0px 5px 0px;
    background:url(../images/bo-shadow.jpg) no-repeat bottom center;
}
.channel{
    border:1px #CCCCCC solid;
    padding:0px;
    background:#FFFFFF;
    margin:0px;
}
.channel UL{
    padding:10px 15px 18px 20px;
}
.channel LI{
    padding-left:12px;
    background:url(../images/dot.png) no-repeat left;
    font-size:13px;
    font-weight:normal;
    line-height:24px;
}
.channel A:link, .channel A:visited, .channel A:active
{
    font-size:13px;
    line-height:24px;
    font-weight:normal;
    text-decoration:none;
    color:#000000;
}
.channel A:hover
{
    font-size:13px;
    line-height:24px;
    font-weight:normal;
    text-decoration:underline;
    color: #cc6600;
}

.newsmore
{
    float:right;
    padding:0px 10px 0px 10px;
    font-weight:normal;
    font-size:13px;
    line-height:24px;
}
.newsmore a:active, .newsmore a:link, .newsmore a:visited{
    color: #999999;
    text-decoration:none;
}
.newsmore a:hover{
    color: #999999;
    text-decoration:underline;
}

/*底部*/
.bottom{width:100%;height:80px;background-image: url(../images/foot.jpg);background-repeat: no-repeat;background-position: center bottom;}