<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhou.hai.mapper.RejectMapper" >
  <resultMap id="BaseResultMap" type="com.zhou.hai.domain.Reject" >
    <id column="reject_id" property="rejectId" jdbcType="BIGINT" />
    <result column="post_id" property="postId" jdbcType="BIGINT" />
    <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    reject_id, post_id, reject_reason
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhou.hai.domain.RejectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reject
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from reject
    where reject_id = #{rejectId,jdbcType=BIGINT}
  </select>
  <select id="selectByPostId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from reject
    where post_id = #{rejectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from reject
    where reject_id = #{rejectId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhou.hai.domain.RejectExample" >
    delete from reject
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhou.hai.domain.Reject" >
    insert into reject (reject_id, post_id, reject_reason
      )
    values (#{rejectId,jdbcType=BIGINT}, #{postId,jdbcType=BIGINT}, #{rejectReason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhou.hai.domain.Reject" >
    insert into reject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rejectId != null" >
        reject_id,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="rejectReason != null" >
        reject_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rejectId != null" >
        #{rejectId,jdbcType=BIGINT},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhou.hai.domain.RejectExample" resultType="java.lang.Integer" >
    select count(*) from reject
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update reject
    <set >
      <if test="record.rejectId != null" >
        reject_id = #{record.rejectId,jdbcType=BIGINT},
      </if>
      <if test="record.postId != null" >
        post_id = #{record.postId,jdbcType=BIGINT},
      </if>
      <if test="record.rejectReason != null" >
        reject_reason = #{record.rejectReason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update reject
    set reject_id = #{record.rejectId,jdbcType=BIGINT},
      post_id = #{record.postId,jdbcType=BIGINT},
      reject_reason = #{record.rejectReason,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhou.hai.domain.Reject" >
    update reject
    <set >
      <if test="postId != null" >
        post_id = #{postId,jdbcType=BIGINT},
      </if>
      <if test="rejectReason != null" >
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
    </set>
    where reject_id = #{rejectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhou.hai.domain.Reject" >
    update reject
    set post_id = #{postId,jdbcType=BIGINT},
      reject_reason = #{rejectReason,jdbcType=VARCHAR}
    where reject_id = #{rejectId,jdbcType=BIGINT}
  </update>
</mapper>